.main{
    display: flex;
    justify-content: space-around;

   
    padding:20px 90px ;
}

@media only screen and (max-width : 1200px){
    .main{padding:20px 70px ;}
}

@media only screen and (max-width : 720px){
    .main{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media only screen and (max-width : 520px){
    .main{
        display: block;
         padding: 0;
         max-width: 414px;
    }

}

